# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [50]:
import pandas as pd
import numpy as np
import random

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [33]:
url1 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
cars1 = pd.read_csv(url1)
url2 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"
cars2 = pd.read_csv(url2)

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [34]:
cars1 = cars1.dropna(axis=1)
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

### Step 5. What is the number of observations in each dataset?

In [40]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [48]:
cars = [cars1, cars2]
cars

[      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
 0    18.0          8           307        130    3504          12.0     70
 1    15.0          8           350        165    3693          11.5     70
 2    18.0          8           318        150    3436          11.0     70
 3    16.0          8           304        150    3433          12.0     70
 4    17.0          8           302        140    3449          10.5     70
 ..    ...        ...           ...        ...     ...           ...    ...
 193  24.0          6           200         81    3012          17.6     76
 194  22.5          6           232         90    3085          17.6     76
 195  29.0          4            85         52    2035          22.2     76
 196  24.5          4            98         60    2164          22.1     76
 197  29.0          4            90         70    1937          14.2     76

      origin                        car
 0         1  chevrolet chevelle malibu
 1         1          buick skylark 320
 2         1         plymouth satellite
 3         1              amc rebel sst
 4         1                ford torino
 ..      ...                        ...
 193       1              ford maverick
 194       1                 amc hornet
 195       1         chevrolet chevette
 196       1            chevrolet woody
 197       2                  vw rabbit

 [198 rows x 9 columns],
       mpg  cylinders  displacement horsepower  weight  acceleration  model  \
 0    33.0          4            91         53    1795          17.4     76
 1    20.0          6           225        100    3651          17.7     76
 2    18.0          6           250         78    3574          21.0     76
 3    18.5          6           250        110    3645          16.2     76
 4    17.5          6           258         95    3193          17.8     76
 ..    ...        ...           ...        ...     ...           ...    ...
 195  27.0          4           140         86    2790          15.6     82
 196  44.0          4            97         52    2130          24.6     82
 197  32.0          4           135         84    2295          11.6     82
 198  28.0          4           120         79    2625          18.6     82
 199  31.0          4           119         82    2720          19.4     82

      origin                 car
 0         3         honda civic
 1         1      dodge aspen se
 2         1   ford granada ghia
 3         1  pontiac ventura sj
 4         1       amc pacer d/l
 ..      ...                 ...
 195       1     ford mustang gl
 196       2           vw pickup
 197       1       dodge rampage
 198       1         ford ranger
 199       1          chevy s-10

 [200 rows x 9 columns]]

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [96]:
series = np.random.randint(15000, 73000, size=398)
series

array([21072, 68245, 45160, 47875, 41261, 72015, 67007, 32694, 39213,
       26087, 28143, 58282, 17255, 39168, 50715, 55987, 34418, 33911,
       26893, 55503, 51043, 25946, 39143, 43861, 47632, 15660, 66135,
       16730, 50766, 54505, 46349, 45940, 31988, 35409, 53766, 56807,
       28066, 62325, 44488, 47643, 19415, 67980, 37845, 56914, 58101,
       72758, 46060, 47383, 22813, 61749, 62120, 29306, 37541, 41427,
       55200, 53518, 37925, 15336, 17450, 58776, 63817, 25209, 26687,
       68943, 59730, 64063, 20492, 60073, 40333, 49759, 55229, 54398,
       56310, 15980, 15748, 55976, 34964, 46876, 19021, 58018, 36328,
       37657, 57344, 44682, 61094, 17235, 66565, 26619, 56878, 18933,
       38418, 53049, 28423, 25990, 67957, 55610, 44430, 71251, 23176,
       27250, 48523, 60460, 51858, 40696, 70419, 49568, 63832, 47685,
       62155, 61177, 33318, 65185, 60817, 32329, 44424, 29045, 43265,
       40273, 43529, 57855, 42664, 46618, 36571, 61796, 16108, 66840,
       27560, 41457, 34216, 60120, 34974, 26136, 47731, 17364, 49664,
       45949, 33065, 41236, 41532, 41774, 54100, 47354, 66632, 31928,
       44277, 36629, 45796, 19709, 48203, 27442, 18833, 71231, 44890,
       18677, 26652, 59761, 15280, 66382, 48149, 38187, 64287, 20198,
       54624, 44111, 45956, 50122, 25810, 32321, 53520, 68686, 71877,
       41251, 21868, 59276, 69540, 27408, 27777, 49132, 26194, 48018,
       53633, 47102, 55647, 28894, 40658, 65229, 61716, 46279, 39663,
       39536, 63851, 60452, 25231, 71804, 51217, 46051, 16782, 34601,
       16867, 48354, 35114, 25697, 18717, 45555, 58751, 24987, 21080,
       53022, 68580, 65739, 52547, 59395, 20984, 29666, 53315, 53625,
       28946, 34241, 36511, 58678, 57903, 65379, 47035, 56484, 25266,
       23914, 54877, 67252, 26567, 17316, 45729, 56442, 49954, 44192,
       17733, 18745, 72861, 49343, 42383, 36016, 68983, 51425, 70012,
       59209, 32275, 64021, 38329, 54512, 38585, 20503, 33465, 68511,
       38691, 48526, 45229, 28333, 39433, 52508, 44818, 21972, 56453,
       30717, 18013, 57008, 33147, 25645, 26024, 53692, 29407, 68278,
       31456, 48093, 40288, 30625, 53899, 43196, 31852, 58866, 46108,
       71667, 50667, 38255, 40444, 40708, 21049, 61539, 43820, 41208,
       32803, 56386, 59492, 15563, 24881, 57234, 55984, 32140, 47310,
       30571, 15914, 15439, 44807, 54081, 59074, 18442, 26815, 23187,
       43419, 54284, 22849, 33116, 35456, 55228, 54969, 37881, 18664,
       38156, 26542, 50497, 44629, 36281, 17562, 27007, 58867, 50614,
       34924, 19250, 40511, 69599, 63260, 54649, 18666, 42672, 33395,
       55678, 59958, 16745, 71325, 52541, 18048, 44199, 43782, 25214,
       43318, 39231, 70211, 29285, 57153, 71304, 30275, 64618, 59395,
       25981, 24305, 58406, 16804, 51345, 62710, 26934, 35566, 32524,
       45617, 46975, 65566, 43688, 70290, 39016, 33203, 18633, 31934,
       18762, 39999, 39859, 69754, 19564, 45613, 29365, 33720, 20347,
       50565, 58425, 37939, 59161, 28080, 46486, 32491, 58536, 37980,
       27410, 53465, 17678, 39322, 17588, 26266, 66421, 53537, 21825,
       17787, 54371])

### Step 8. Add the column owners to cars

In [97]:
cars['owners'] = series
cars

TypeError: list indices must be integers or slices, not str