# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import random

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
url1 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
cars1 = pd.read_csv(url1)
url2 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"
cars2 = pd.read_csv(url2)

In [16]:
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [8]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick
194,22.5,6,232,90,3085,17.6,76,1,amc hornet
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit

### Step 5. What is the number of observations in each dataset?

In [4]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [12]:
cars = cars1.append(cars2)
cars

/var/folders/nh/_lkctsl16l393rkzcyztswd80000gn/T/ipykernel_23027/3958165173.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cars = cars1.append(cars2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [10]:
number_of_owners = np.random.randint(15000, high=73001, size=398)
number_of_owners

array([61351, 52080, 17292, 63427, 49808, 23561, 55508, 56591, 45541,
       22399, 51504, 72099, 20121, 16144, 44542, 71498, 29930, 48773,
       49493, 36247, 55223, 72582, 64643, 27294, 65317, 55825, 57422,
       25429, 33310, 20609, 47160, 68283, 18603, 28600, 67577, 33801,
       47219, 60415, 69150, 64788, 40752, 48581, 38745, 40897, 54070,
       24355, 59459, 72278, 24732, 34603, 44853, 29451, 39832, 43364,
       52258, 48879, 43979, 24865, 72949, 67880, 51452, 28219, 38778,
       34283, 62964, 24546, 23846, 52229, 30977, 51209, 46462, 70072,
       31730, 66078, 24202, 36944, 33388, 56539, 63584, 18720, 16142,
       39612, 59106, 55553, 41441, 50003, 71367, 57064, 17965, 51518,
       48805, 56849, 65915, 64233, 15645, 31271, 24447, 50007, 28362,
       37675, 31743, 16237, 67614, 32186, 28071, 51629, 52325, 38068,
       39869, 19142, 32026, 30645, 34406, 22915, 51251, 55466, 18193,
       19000, 60161, 29955, 20500, 28613, 57379, 70339, 20555, 26806,
       60677, 21215, 40990, 51893, 32347, 35252, 29269, 35334, 52591,
       57745, 20069, 58486, 59668, 41826, 41653, 26601, 63326, 21400,
       57064, 69356, 49284, 35623, 30483, 68387, 43636, 33988, 19167,
       68812, 55924, 36451, 62456, 54751, 38071, 25690, 61716, 53570,
       51595, 28636, 68630, 67445, 31981, 45684, 33788, 61102, 25009,
       16096, 50984, 63427, 36804, 34377, 43121, 40487, 54620, 62291,
       22569, 27208, 50959, 50456, 41003, 47061, 39091, 30557, 33254,
       64599, 28663, 18388, 65922, 38137, 22933, 45080, 47968, 44983,
       68380, 68294, 47952, 28476, 45773, 61173, 29195, 36265, 69767,
       58196, 69335, 50142, 55382, 63638, 22294, 48862, 32991, 29251,
       19325, 31814, 24123, 19246, 57763, 37013, 39193, 62316, 35549,
       59844, 26122, 57405, 34107, 22077, 42798, 59700, 67471, 35501,
       45877, 54435, 47622, 18762, 68158, 16336, 66550, 37843, 43539,
       62140, 23896, 35807, 17218, 36732, 66670, 52728, 32999, 46391,
       52230, 57821, 18737, 43728, 49329, 60928, 68958, 26735, 53487,
       40497, 35354, 33192, 49932, 66031, 27706, 45694, 18013, 66494,
       51618, 66978, 31423, 18059, 28942, 36400, 45234, 70862, 70161,
       67941, 68236, 63946, 64925, 54188, 54941, 24145, 62670, 66233,
       35559, 26079, 72671, 35909, 30237, 71315, 54557, 25002, 66106,
       34976, 39754, 58699, 18687, 19675, 21277, 54965, 50098, 55763,
       58931, 30236, 67977, 50919, 16072, 21037, 47249, 19625, 38125,
       64350, 26474, 72857, 56756, 67407, 27458, 27391, 34254, 59568,
       55731, 65191, 27628, 18671, 24077, 16873, 41957, 42071, 55279,
       43538, 29059, 42748, 17930, 59832, 71939, 23017, 38054, 46551,
       30657, 47426, 58529, 21104, 57772, 27084, 63918, 24902, 22606,
       16977, 42378, 29388, 30308, 26073, 58623, 56070, 68694, 16009,
       69579, 55846, 49196, 43960, 33633, 38713, 58421, 15254, 65794,
       39388, 46622, 30778, 69567, 61107, 65476, 67993, 63151, 52643,
       66617, 45392, 67555, 22914, 17898, 23551, 45839, 60695, 68191,
       60556, 70193, 15509, 52471, 55836, 56620, 42516, 33175, 39442,
       71172, 47754])

### Step 8. Add the column owners to cars

In [13]:
cars['owners'] = number_of_owners
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,61351
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,52080
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,17292
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,63427
4,17.0,8,302,140,3449,10.5,70,1,ford torino,49808
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,42516
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,33175
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,39442
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,71172
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,47754